header{
    margin: 20px 30px;
}
#header-top{
    background-color: #FF9500;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-top img{
    margin-left: 23px;
    cursor: pointer;
}
#header--logo{
    background-image: url("../images/logo.svg");
    background-color: #FF9500;
    height: 54px;
    width: 54px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
}
#header-bottom{
    width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F3;
}
#header-bottom div{
    display: flex;
    align-items: center;
}
#header-bottom nav{
    margin-left: 50px;
}
#header-bottom ul{
    display: flex;
}
#header-bottom ul li{
    list-style: none;
    padding: 14px 24px;
}
#header--action a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 14px 34px;
    border-radius: 8px;
}
.header-button-01{
    color: #262626;
    line-height: 150%;
}
.header-button-02{
    color: #FFFFFF;
    background-color: #FF9500;
}
#header--action a:hover{
    opacity: 0.8;
}
#header-bottom div nav li:hover{
    background-color: #F1F1F3;
    cursor: pointer;
}
.header-banner{
    text-align: center;
}
.header-banner-title{
    display: flex;
    justify-content: center;
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
}
.header-banner-title img{
    background-color: #FFF4E5;
    border-radius: 6px;
    width: 62px;
    height: 62px;
    padding: 14px;
    gap: 10px;
}
.header-banner-title h1 .banner-01{
    border-radius: 11px;
    padding: 14px 30px 14px 20px;
    width: 732px;
    height: 72px;
    font-size: 48px;
    line-height: 150%;
}

