.header-banner {
    margin: 100px auto;
    width: 900px;
    height: 337px;
    position: relative;
}
.banner-img-01 {
    position: absolute;
    top: -40px;
    left: -30px;
    width: 50px;
    height: auto;
    pointer-events: none;
}

.banner-top{
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-top img{
    width: 62px;
    height: 62px;
    padding: 14px;
    border-radius: 6px;
    gap: 10px;
}
h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #1A1A1A;
}
h1 b{
    color: #FF9500;
}
.banner-description{
    text-align: center;
    width: 100%;
    color: #262626;
}
.banner-description .banner-description-01{
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
}
.banner-description .banner-description-02{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 60px;
}
.banner-action{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.banner-action a{
    text-decoration: none;
}
.banner-btn-01{
    background-color: #FF9500;
    color: #FFFFFF;
    width: 195px;
    height: 65px;
    padding: 18px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}
.banner-btn-02{
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    width: 165px;
    height: 63px;
    padding: 18px 24px;
    border-radius: 8px;
    color: #262626;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-bottom{
    margin: 100px auto 150px auto;
    max-width: 1596px;
    /*width: 100%;*/
}
.banner-container{
    display: flex;
    /*justify-content: space-between;*/
    /*justify-content: ;*/
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 12px;
    border: 1px solid #F1F1F3;
    padding: 30px;
    /*width: 100%;*/
    /*flex-shrink: 1;*/
}
.banner-container--item{
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 30px 40px;
    border-right: 1px solid #F1F1F3;
}
.banner-container--item:last-child{
    border-right: none;
}
.banner-container--item div img{
    color: #4C4C4D;
}
.banner-container--image{
    position: relative;
    background-image: url("../images/container.png");
    background-repeat: no-repeat;
    max-width: 1596px;
    width: 100%;
    height: 790px;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    padding: 100px;
    flex-shrink: 1;
    margin: 100px auto 150px auto;
}
.banner-container--image > div:first-child{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    height: 33px;
}
.circle-pause{
    position: absolute;
    top: 0;
    left: 0;
    right: 7px;
    bottom: 0;
    margin: auto;
    width: 72px;
    height: 72px;
    border-radius: 68px;
    padding: 14px;
    gap: 10px;
    background-color: #FFFFFF33;
    border: 6px solid #FFFFFF4D;
}
.circle-pause:hover{
    cursor: pointer;
}
.banner-container--item:hover{
    cursor: pointer;
}