footer {
    background-color: white;
    padding: 100px 162px 30px 162px;
    gap: 50px;
    margin-top: 142px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-right > img{
    margin-bottom: 40px;
}
.footer-right--item {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}
.footer-right--item a{
    text-decoration: none;
    color: #262626;
}
.footer-right > div > div:last-child {
    margin-bottom: 0;
}
.footer-left{
    display: flex;
    gap: 30px;
}
.footer-left--item{
    width: 249px;
}
.footer-left--item > p{
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 14px;
}
.footer-left--item > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.logo-item{
    display: flex;
    flex-direction: row !important;
    gap: 14px;
}
.footer-left div:last-child  > div button{
    width: 52px;
    height: 52px;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    padding: 14px;
    background-color: #F7F7F8;
}
.logo-fb{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.logo-tele{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/tele.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.logo-linkin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/linkin.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    border-top: 1px solid #F1F1F3;
    margin-top: 50px;
    color: #656567;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.footer-right--item a:hover{
    cursor: pointer;
}
.footer-left--item p:hover{
    cursor: pointer;
}
.footer-left--item .logo-item button:hover{
    cursor: pointer;
}