*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

html{
    font-size: 16px;
}

.wrapper {
    background-image: url("https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop");
    background-size: cover;
    padding: 1rem 1rem 1rem 1rem;

}

.wrap {
    margin: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    text-align: center;
}

h1{
    color: #1e293b;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

h1 b{
    color: #c084fc;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
}

.description-1{
    color: #334155;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
    line-height: 1.6;
}

.button{
    font-size: 1.125rem;
    text-align: center;
    margin: 1rem;
}

button{
    font-weight: 600;
    color: white;
    background-color: #a855f7;
    border: none;
    border-radius: 1rem;
    padding: 0.7rem 1.5rem;
}

button:hover{
    background-color: #9333ea;
}

.logo {
    border-radius: 10rem;
    border: 0.25rem solid rgba(192, 132, 252, 0.6);
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
}

.description-2{
    color: #334155;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

strong{
    font-weight: 700;
    color: #c084fc;
}

label{
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 1.375rem;
    text-align: center;
    padding-top: 1rem;
    line-height: 1.6;
}

.advice{
    height: 9rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.advice p{
    color: #334155;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 1rem;
    line-height: 1.6;
}

#checkbox:checked ~ .advice{
    background-color: rgba(192, 132, 252, 0.35);
}
#checkbox:checked ~ .advice h2, #checkbox:checked ~ .advice p{
    color: #6b21a8;
}

.benefits{
    text-align: center;
    margin-top: 1rem;
}

.benefits span{
    padding-right: 2rem;
    color: #334155;
    font-weight: 400;
    font-size: 1rem;
}

.benefits img {
    width: 1.2rem;
    height: 1.2rem;
}

footer{
    text-align: center;
    padding: 1rem;
    border-top: 0.1rem solid #c084fc;
    margin-top: 2rem;
}
